<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("./header.ejs") %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <p>data: <%= data %></p>
  <a href="/users/regist">注册</a>
  <a href="/users/login">登录</a>
  </body>
</html>
