<%- include("./header.ejs",{username:username}) %>

<p>Welcome to <%= title %></p>


<div class="col-lg-7">
    <legend><%= title %></legend>
    <form action="/write" method="post">
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">文章标题</label>
            <input name="title" type="text" class="form-control" placeholder="标题不小于10个字" id="inputDefault">
        </div>
        <div class="form-group">
            <label for="exampleSelect2">文章类型</label>
            <select name="type" multiple class="form-control" id="exampleSelect2">
               <%   var types=["科技","动画","游戏","舞蹈","生活"];
                    for (var type of types ){ %>
                        <option > <%=type  %></option>
                        <%}%>
                <!-- <option>科技</option>
                <option>动画</option>
                <option>游戏</option>
                <option>舞蹈</option>
                <option>生活</option> -->
            </select>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">文章内容</label>
            <textarea name="substance" class="form-control" id="exampleTextarea" rows="3" placeholder="内容不小于100个字"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">上传图片</label>
            <input name="uploadpic" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">图片不能大于5M</small>
        </div>
        <div class="form-group">
                <p class="bs-component">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
                </p>
              </div>
    </form>
</div>

<%- include("./footer.ejs") %>